@model HR.Models.HR.Designation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Designation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Department_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Department_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Actv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Actv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Del)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Del)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crtd_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crtd_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crtd_ts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crtd_ts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mod_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mod_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mod_ts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mod_ts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DesignationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
